.article-list {
  padding: 2em;
  font-family: 'Courier New', Courier;
}
.article-list a {
  color: #002776;
}
.article-list a:link {
  color: #002776;
}
.article-list a:visited {
  color: #009c3b
}

.article-list a:hover {
  text-decoration: none;
}

.article-list a:active {
  text-decoration: none;
}

.article-list article:hover {
  background-color: #b3ccf5;
  color: #009c3b;
}

.card h2 {
  color: #009c3b;
}

.card h4 {
  color: #ffdf00;
}

.card p {
  color: #002776;
}

.card img {
  height: 250px;
}
.post {
  padding: 2em;
  font-family: 'Courier New', Courier;
}
.post figcaption {
  color: #009c3b;
}
.post img {
  height: 400px;
}
.post h1 {
  color: #009c3b;
}

.post h3 {
  color: #ffdf00;
}
.post p {
  line-height: 150%;
  color: #002776;
}