@import url("header.css");
@import url("left-side.css");
@import url("article.css");
@import url("right-side.css");
@import url("footer.css");

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1f 1fr 1fr;
  grid-template-areas: 
  "logo"
  "nav"
  "left"
  "article"
  "right"
  "footer";
  
}
/* .box {
  border: 1px solid red;
} */

.logo img {
  grid-area: logo;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: 'Courier New', Courier;
  font-size: small;
}

nav a {
  margin: 1em;
}

#home {
  order: 1;
  color: #009c3b;
}
#gallery {
  order: 2;
  color: #ffdf00;
  
}
#about {
  order: 3;
  color: #002776;
}

#contact {
  order: 4;
  color: #009c3b;  
}



.left-sidebar {
  grid-area: left;
  font-family: 'Courier New', Courier;
  padding: 1em;
  height: auto;
}

article {
  grid-area: article;
}

.right-sidebar {
  grid-area: right;
  font-family: 'Courier New', Courier;
  padding: 1em;
}

footer {
  grid-area: footer;
  align-self: center;
  justify-self: center;
}

.contact-container {
  width: 320px;
  clear: both;
}

.contact-container input {
  width: 100%;
  clear: both;
  line-height: 1.5em;
}

.contact-container label {
  float: left;
}

.contact-container textarea {
  width: 100%;
}

.gal-container {
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: repeat(6,150px);
  grid-template-areas: 
  "img1"
  "img2"
  "img3"
  "img4"
  "img5"
  "img6";
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.gal-container img {
  height: 100px;
}

.thumb {
  margin  : 20px;
}

/*medium screens*/
@media (min-width: 600px) and (max-width: 1100px) {
  .container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 150px auto 150px;
    grid-template-areas: 
    "logo nav nav"
    "left article right"
    "footer footer footer";
  }
  .nav{
    font-size: large;
  } 

  .gal-container {
    display: grid;
    grid-template-columns: repeat(2,150px);
    grid-template-rows: repeat(3,150px);
    grid-template-areas: 
    "img1 img2"
    "img3 img4"
    "img5 img6";
  }

  .share {
    flex-direction: column;
  }
  .contact-container textarea {
    width: 500px;
    height: 150px;
  }

  .post img {
    width: 400px;
  }
}

/*large screens*/
@media (min-width: 1101px) {

  .container {
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 150px auto 150px;
    grid-template-areas: 
    "logo nav nav"
    "left article right"
    "footer footer footer";
  }

  .nav{
    font-size: x-large;
  }  

  .gal-container {
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(2,150px);
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6";
  }

  .share {
    flex-direction: column;
  }

  .contact-container textarea {
    width: 500px;
    height: 150px;
  }
  .post img {
    width: 400px;
  }
}