@import url("header.css");
@import url("left-side.css");
@import url("article.css");
@import url("right-side.css");
@import url("footer.css");

.container{
  display: grid;
  grid-template-columns: 850px;
  grid-template-rows: 150px 1fr 1fr 1fr;
  grid-template-areas: 
  "logo"
  "nav"
  "left"
  "article"
  "right"
  "footer";
}
/*medium screens*/
@media (min-width: 600px) and (max-width: 1100px){
  .container{
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 150px 600px 150px;
    grid-template-areas: 
    "logo nav nav"
    "left article right"
    "footer footer footer";
  }
}
/*large screens*/
@media (min-width: 1101px){
  .container{
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 150px 600px 150px;
    grid-template-areas: 
    "logo nav nav"
    "left article right"
    "footer footer footer";
  }
}
.box{
  border: 1px solid red;
}
.logo img{
  grid-area: logo;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.nav{
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: 'Courier New', Courier;
  font-size: x-large;
}
nav a{
  margin: 1em;
}
#home{
  order: 1;
  color: #009c3b;
}
#about{
  order: 2;
  color: #ffdf00;
}
#contact{
  order: 3;
  color: #002776;
}
.left-sidebar{
  grid-area: left;
  font-family: 'Courier New', Courier;
  padding: 1em;
}
article{
  grid-area: article;
}
.right-sidebar{
  grid-area: right;
  font-family: 'Courier New', Courier;
  padding: 1em;
}
footer{
  grid-area: footer;
  align-self: center;
  justify-self: center;
}
